h2{
	color:red;
	font-size: 20px;
}

p{
	font-size: 15px;
	font-family: "Lucida Console", Monaco, monospace;
	color: red;
	background-color: black;
}	

body{
	background-color: #696969;
	background-image: url("http://upload.wikimedia.org/wikipedia/commons/1/17/Track_and_field_stadium-2.jpg"); 
}

img{
	height: 200px;
	text-align: center;
	width: 200px;

}

h3{
	color: red;
	font-size: 20px;
	font-style: italic;
}

.information {
	border: solid blue;
	border-left: blue;
	border-left-color: blue;
}

Q{
 	background-color: black;
 	color: red;
 	font-family: Impact, Charcoal, sans-serif;
 }

.pictures-from-events{
	border: solid orange;
	border-left: orange;
	border-left-color:orange;
	color: yellow;
}
.centerclass{
	text-align: center;
}
h1{
	color: red;
	font-family: Impact, Charcoal, sans-serif;
	height: 50;
}
