


h2{
	color:black;
	font-size: 20px;
}

p{
	font-size: 15px;
	font-family: "Lucida Console", Monaco, monospace;
	color: orange;
}	

body{
	background-color: #696969; 
	background:"http://www.friedmanarchives.com/Kids%20and%20Sports/images/Track%20and%20Field%20-%20wide%20and%20empty%20DSC06142.jpg">
}

img{
	height: 200px;
	text-align: center;
	width: 200px;

}

h3{
	color: red;
	font-size: 20px;
	font-style: italic;
}

.information {
	border: solid blue;
	border-left: blue;
	border-left-color: blue;

}

Q{
 	background-color:#DC143C;
 	color: black;
 	font-family: Impact, Charcoal, sans-serif;
 }

.pictures-from-events{
	border: solid orange;
	border-left: orange;
	border-left-color:orange;
}
.centerclass{
	text-align: center;
}
h1{
	color: #191970;
	font-family: Impact, Charcoal, sans-serif;
	height: 50;
}
