


h1{
	color:black;
	font-size: 20px;
}

p{
	font-size: 13px;
	font-style: italic;
	color: orange;
}	

body{
	background-color: #696969; 
}

img{
	height: 100px;
}

h2{
	color: green;
	font-size: 20px;
	font-style: italic;
}

.information {
	border: solid blue;
	border-left: blue;
	border-left-color: blue;